<% if logged_in? %>
<div class="row">
<aside class="col-md-4">
<section class="user_info">
<%= render 'shared/user_info' %>
</section>
<section class="stats">
<%= render 'shared/stats' %>
</section>
<section class="zhitiao_form">
<%= render 'shared/zhitiao_form' %>
</section>
</aside>
<div class="col-md-8">
<h3>纸条</h3>
<%= render 'shared/feed' %>
</div>
</div>
<% else %>
 <div class="center jumbotron">
    <h1>陌友</h1>
    <h2>
    欢迎使用陌友
    </h2>
    <%= link_to "现在注册", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
<% end %>