<% provide(:title, @user.name) %>
<div class="row">
<aside class="col-md-4">
<section>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
</section>
<section class="stats">
<%= render 'shared/stats' %>
</section>
</aside>
<div class="col-md-8">
<%= render 'follow_form' if logged_in? %>
<% if @user.zhitiaos.any? %>
<h3>纸条 (<%= @user.zhitiaos.count %>)</h3>
<ol class="zhitiaos">
<%= render @zhitiaos %>
</ol>
<%= will_paginate @zhitiaos %>
<% end %>
</div>
</div>